<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
           id="org.apache.cordova.parseplugin"
      version="0.1.0">
    <name>ParsePlugin</name>
    <description>Parse push plugin for phonegap</description>
    <license>MIT</license>
    <keywords>phonegap,parse,push</keywords>


    <js-module src="www/plugin-parse.js" name="ParsePlugin">
        <!--<clobbers target="device" />-->
        <!--<clobbers target="navigator.connection" />-->
        <!--<clobbers target="navigator.network.connection" />-->
    </js-module>

    <!-- android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="ParsePlugin">
                <param name="android-package" value="org.apache.cordova.parseplugin.ParsePlugin"/>
            </feature>
        </config-file>

        <source-file src="src/android/ParsePlugin.java" target-dir="src/org/apache/cordova/parseplugin" />
     </platform>          
</plugin>
